html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 120px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(183,183,255,1) 60%, rgba(177,232,244,1) 100%);
    font-family: 'Reddit Mono', sans-serif;
}

.headerlanding {
    display: flex;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #015486;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    color: #fff;
}

.logo {
    height: 100px;
}

.footerlanding {
    width: 100%;
    margin-top: 200px;
    background-color: #015486;
    height: 200px;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerlanding p {
    color: #fff;
}

.landing {
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
}

.container {
    width: 70%;
    background-color: #8ed9ff;
    height: 750px;
}

.title {
    height: 100px;
    text-align: center;
}

.title p {
    font-size: 50px;
}

.landing2 {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

header p {
    padding-top: 10px;
    color: black;
}

.login {
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.login:hover {
    background-color: #c2bfbf;
    transition: 0.5s;
}

header li:hover {
    color: #c2bfbf;
    transition: 0.5s;
}

.imgsec {
    width: 900px;
    margin-top: 10px;
    height: 450px;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.bannner {
    margin-bottom: 15px;
    width: 100%;
}

a {
    text-decoration: none;
}

.register {
    width: 800px;
    height: 500px;
    background-color: #8ed9ff;
    margin-top: 100px;
}

.pagelogin {
    display: flex;
    justify-content: space-around;
}

/* Media Queries */

/* 640x480 */
@media (max-width: 640px) and (max-height: 480px) {
    .container {
        width: 90%;
        height: auto;
    }
    .title p {
        font-size: 30px;
    }
    .imgsec {
        width: 100%;
        height: auto;
    }
}

/* 800x600 */
@media (max-width: 800px) and (max-height: 600px) {
    .container {
        width: 85%;
        height: auto;
    }
    .title p {
        font-size: 35px;
    }
    .imgsec {
        width: 100%;
        height: auto;
    }
}

/* 1024x768 */
@media (max-width: 1024px) and (max-height: 768px) {
    .container {
        width: 80%;
        height: auto;
    }
    .title p {
        font-size: 40px;
    }
    .imgsec {
        width: 100%;
        height: auto;
    }
}

/* 1472x1104 */
@media (max-width: 1472px) and (max-height: 1104px) {
    .container {
        width: 75%;
        height: auto;
    }
    .title p {
        font-size: 45px;
    }
    .imgsec {
        width: 100%;
        height: auto;
    }
}

/* 1600x1200 */
@media (max-width: 1600px) and (max-height: 1200px) {
    .container {
        width: 70%;
        height: auto;
    }
    .title p {
        font-size: 50px;
    }
    .imgsec {
        width: 100%;
        height: auto;
    }
}

/* não entendi a responsividade mas tentei */