body {
    margin: 0;
    padding: 0;
    padding-top: 120px;
    
}

.headerlanding{
    display: flex;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #015486;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    color: #fff;
}

.logo {
    height: 100px;
}

.footerlanding {
    width: 100%;
    margin-top: 200px;
    background-color: #015486;
    height: 200px;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerlanding p {
    color: #fff;
}

.landing {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.container {
    width: 70%;
    background-color: aquamarine;
    height: 700px;
}

.title{
    height: 100px;
    text-align: center;
}

.title p{
    font-size: 50px;
}

.landing2 {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

header p{
    padding-top: 10px;
    color: black;
}

.login{
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.login:hover{
    background-color: #c2bfbf;
    transition: 0.5s;
}

header li:hover{
    color: #c2bfbf;
    transition: 0.5s;
}
